@use "@styles/variables" as v;

.galleryPanel {
    width: 100%;
    display: flex;
    flex-direction: column;

    .galleryContainer {
        margin-bottom: 30px;
        padding: 0px 10px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        .uploadButton {
            margin: 0;
            padding: 0;
            border-radius: 8px;
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            background-color: var(--color-bg-accent);
            height: 200px;

            .progressBar {
                height: 5px;
                width: 80%;
                border-radius: 9999px;
                background-color: var(--color-base);
                position: relative;
                margin-top: 20px;

                .progressIndicator {
                    position: absolute;
                    height: 5px;
                    border-radius: 9999px;
                    background-color: var(--color-blue);
                    transition: width var(--timing);
                }
            }

            svg {
                width: 48px;
                height: 48px;
                stroke-width: 1.5px;
                margin-bottom: 20px;
            }
        }

        .imageContainer {
            position: relative;
            height: 200px;
            overflow: hidden;
            border-radius: 8px;
            margin: 0;
            padding: 0;

            .imagePlaceholder {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-blue-lighter);
            }
        }
    }
}

.imageViewContainer {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    transition: box-shadow var(--timing);

    &:hover {
        box-shadow: inset 0px 70px 40px -41px #00000070,
            inset 0px -70px 40px -41px #00000070;
        .imageTop {
            opacity: 1;
            pointer-events: all;
        }
    }

    .imageTop {
        opacity: 0;
        pointer-events: none;
        transition: opacity var(--timing);
        top: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 72px;
        width: 100%;
        position: absolute;

        button {
            background-color: transparent;
            border-radius: 0;
            margin: 0;
            padding: 0;
            z-index: 1;
            color: white;
        }
    }

    img {
        z-index: -1;
    }
}
