@use "@styles/variables" as v;

.middlePanel {
    width: 100%;
    display: flex;
    flex-direction: column;

    .messagesContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        padding: 0px 10px;

        .messageTextEditor {
            margin-bottom: 20px;
            background-color: var(--color-base);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 5px 10px var(--color-shadow);
            width: 100%;
        }

        .message {
            color: var(--color-text);
            background-color: var(--color-bg-accent);
            padding: 15px 20px 10px 20px;
            border-radius: 7px;
            width: 95%;
            margin-right: auto;
            margin-bottom: 20px;
            box-shadow: 0px 2px 5px var(--color-shadow);

            .userAvatar {
                font-size: 0.9rem;
                display: flex;
                align-items: center;

                .userPhoto {
                    width: 30px;
                    height: 30px;
                    margin-right: 8px;
                }
            }

            .messageTop {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .messageMeta {
                    color: var(--color-text-light);
                    display: flex;
                    align-items: center;

                    .menuButton {
                        background-color: transparent;
                        padding: 0;
                        margin: 0;
                        border-radius: 0;
                        margin-left: 10px;
                        position: relative;
                        width: 18px;
                        height: 18px;
                        color: var(--color-text);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            filter: none;
                        }

                        .dropdown {
                            visibility: hidden;
                            opacity: 0;
                            background-color: var(--color-base);
                            box-shadow: 0px 5px 10px var(--color-shadow);
                            padding: 10px 0px;
                            position: absolute;
                            top: 0;
                            right: 0;
                            border-radius: 5px;
                            transition: opacity var(--timing);

                            button {
                                background-color: var(--color-base);
                                width: 100%;
                                margin: 0;
                                border-radius: 0;
                                color: var(--color-text-light);
                                justify-content: flex-start;

                                &:hover {
                                    filter: none;
                                }

                                svg {
                                    width: 18px;
                                    height: 18px;
                                    margin-right: 10px;
                                    color: var(--color-text-light);
                                }
                            }
                        }

                        &:focus-within .dropdown {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }

            &.messageSent {
                background-color: var(--color-blue-light);
                color: #08090a;
                margin-right: 0;
                margin-left: auto;

                .menuButton {
                    color: #08090a !important;
                }
            }
        }

        .noMessages {
            color: var(--color-text-light);
            margin-top: 30px;
        }
    }
}
