@use "@styles/variables" as v;

.stickyHeader {
    padding-top: v.$top-margin;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: var(--color-bg);
    z-index: 1;

    .headerContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        position: relative;

        .menuButton {
            cursor: pointer;
            background-color: var(--color-blue-light);
            color: var(--color-blue);
            border-radius: 5px;
            padding: 9px;
            padding-right: 5px;
            font-size: 0;
            margin-left: 10px;
            white-space: nowrap;

            & > svg + svg {
                margin-left: 5px;
            }

            svg {
                width: 18px;
                height: 18px;
            }

            .dropdown {
                visibility: hidden;
                opacity: 0;
                background-color: var(--color-blue-light);
                box-shadow: 0px 5px 10px var(--color-shadow);
                position: absolute;
                top: 100%;
                right: 0;
                border-radius: 5px;
                transition: opacity var(--timing);

                a {
                    display: block;
                    cursor: pointer;
                    font-size: 0;
                    padding: 12px;
                }
            }

            &:focus-within .dropdown {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
