@use "../../styles/variables" as v;

.rightPanel {
    margin-top: v.$top-margin;
    display: flex;
    height: calc(100vh - #{v.$top-margin});
    position: sticky;
    top: v.$top-margin;
    width: 100%;

    .elementsPanel {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        overflow: hidden;
        overflow-y: auto;
        padding-bottom: 30px;

        .elementsContainer {
            overflow: overlay;
            overflow-x: hidden;
            margin-top: 20px;

            & > * + * {
                margin-top: 20px;
            }

            .element {
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 40px 20px;
                background-color: var(--color-lightblue-light);
                color: var(--color-lightblue);

                svg {
                    margin-right: 10px;
                }
            }
        }
    }
}
