@use "@styles/variables" as v;

.shoppingPanel {
    width: 100%;
    display: flex;
    flex-direction: column;

    .shoppingListContainer {
        .viewSelector {
            margin-top: 5px;
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            label {
                font-size: 1.2rem;
            }

            .viewSelect {
                display: inline-block;
                width: 100%;
                margin-left: 10%;
            }
        }

        .newItem {
            display: flex;

            button {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                margin-left: 20px;
                padding: 0 1rem;
            }
        }

        .itemsList {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-top: 20px;
            margin-bottom: 20px;

            .item {
                margin-top: 20px;
                padding: 20px;
                border-radius: 10px;
                font-size: 1.1rem;
                display: flex;
                align-items: center;
                width: 100%;
                background-color: var(--color-base);
                color: var(--color-text-light);
                box-shadow: 0px 5px 10px 2px var(--color-shadow);

                .itemCheckmark {
                    margin: 0px;
                    margin-right: 15px;
                    padding: 0px;
                    border: 2px solid;
                    border-radius: 50%;
                    background-color: transparent;
                    width: 24px;
                    height: 24px;
                    font-size: 0;
                    color: unset;
                    transition: background-color 300ms;
                    flex: 0 0 24px;

                    svg {
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        transition: opacity 300ms;
                    }

                    &:hover svg {
                        opacity: 1;
                    }

                    &:focus {
                        background-color: var(--color-text-light);

                        svg {
                            opacity: 1;
                            color: var(--color-base);
                        }
                    }
                }

                .itemDescription {
                    flex: 1;
                    overflow-wrap: break-word;
                    width: 100%;
                    min-width: 0;
                    cursor: pointer;
                }
            }
        }

        .noItems {
            color: var(--color-text-light);
            margin-top: 30px;
            text-align: center;
        }
    }
}
