@use "@styles/variables" as v;

.todosPanel {
    width: 100%;
    display: flex;
    flex-direction: column;

    .todosContainer {
        .todosList {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-top: 20px;
            margin-bottom: 20px;

            .todo {
                margin-top: 20px;
                padding: 15px;
                border-radius: 10px;
                font-size: 1.1rem;
                display: flex;
                align-items: center;

                &.todoblue {
                    background-color: var(--color-blue-light);
                    color: var(--color-blue);
                    --todo-color: var(--color-blue);
                }

                &.todoyellow {
                    background-color: var(--color-yellow-light);
                    color: var(--color-yellow);
                    --todo-color: var(--color-yellow);
                }

                &.todogreen {
                    background-color: var(--color-green-light);
                    color: var(--color-green);
                    --todo-color: var(--color-green);
                }

                &.todopurple {
                    background-color: var(--color-purple-light);
                    color: var(--color-purple);
                    --todo-color: var(--color-purple);
                }

                &.todoassigned {
                    background-color: var(--color-red) !important;
                    color: var(--color-base) !important;
                    --todo-color: var(--color-blue);

                    .todoCheckmark:focus svg {
                        color: var(--color-red);
                    }
                }

                .todoCheckmark {
                    margin: 10px 0px;
                    margin-right: 15px;
                    padding: 0px;
                    border: 2px solid;
                    border-radius: 50%;
                    background-color: transparent;
                    width: 24px;
                    height: 24px;
                    font-size: 0;
                    color: unset;
                    transition: background-color 300ms;

                    svg {
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        transition: opacity 300ms;
                    }

                    &:hover svg {
                        opacity: 1;
                    }

                    &:focus {
                        background-color: var(--todo-color);

                        svg {
                            opacity: 1;
                            color: var(--color-base);
                        }
                    }
                }
            }
        }
    }
}
