.buttonContainer {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.imageView {
    &:hover {
        mix-blend-mode: difference;
    }
}
