@use "@styles/variables" as v;

.navbarNotLoggedIn {
    height: v.$navbar-height;
    width: 100%;
    background-color: var(--color-navbar);
    color: var(--color-text);
    position: fixed;
    top: 0;
    padding: 0 10vw;
    font-weight: bold;
    z-index: 99;
    box-shadow: 0px 0px 10px var(--color-shadow);
    backdrop-filter: blur(10px);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        li {
            border-radius: 50%;

            .loginButton {
                background-color: var(--color-base);
                color: var(--color-blue);
                box-shadow: 0px 3px 10px 3px var(--color-shadow);
                padding: 0.9rem 2.7rem;
            }
        }
    }
}
