.user {
    color: var(--color-text);
    padding: 20px 0px;
    display: flex;
    align-items: center;

    .userPhoto {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
}

.userSmall {
    padding: 0;
    font-size: 0.9em;
    color: var(--color-blue);

    .userPhoto {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }
}
