.gridContainer {
    display: grid;
    column-gap: 60px;
}

.threeCols {
    grid-template-columns: 235px 640px 325px;
}

.twoCols {
    grid-template-columns: 60px 640px 325px;
}

.oneCols {
    grid-template-columns: 60px 640px;
}

.fullscreen {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0px 30px;
}
