$color-bg: #fbfdff;
$color-bg-accent: #efefef;
$color-text: #08090a;
$color-blue: #334ac0;
$color-red: #ff897e;
$color-green: #10ba77;
$color-gray: #d0d5da;
$color-shadow: #0000000a;

$timing: 300ms ease;

$bp-tablet: 768px;
