@use "./variables" as v;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: v.$color-bg;
    color: v.$color-text;
}

body {
    margin-top: 100px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.loader {
    border: 5px solid v.$color-bg;
    border-top: 5px solid v.$color-blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin 2s linear infinite;

    @keyframes spin {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(359deg);
        }
    }
}

main {
    padding: 1rem 10vw;
}

// Navbar

.navbar {
    height: 70px;
    width: 100%;
    background-color: #ffffffcc;
    color: v.$color-text;
    position: fixed;
    top: 0;
    padding: 0 10vw;
    font-weight: bold;
    z-index: 99;
    box-shadow: 0px 5px 20px #0000000a;
    backdrop-filter: blur(4px);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        li {
            border-radius: 50%;
        }
    }

    img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
}

button,
.btn {
    background-color: v.$color-gray;
    border: none;
    color: v.$color-text;
    padding: 0.8rem 1.6rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: filter v.$timing;

    @media only screen and (max-width: v.$bp-tablet) {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    &:hover {
        filter: brightness(90%);
    }

    &:disabled,
    &[disabled] {
        filter: brightness(80%);
        cursor: not-allowed;
    }

    &.btn-blue {
        background-color: v.$color-blue;
        color: white;
    }

    &.btn-red {
        background-color: v.$color-red;
        color: white;
    }

    &.btn-green {
        background-color: v.$color-green;
        color: white;
    }
}

.logo {
    display: block;
    font-size: 0;
}
