@use "./variables" as v;

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
    border-radius: 9999px;

    &:hover {
        background-color: var(--color-scrollbar-thumb-hover);
    }
}

:root {
    --color-navbar: #ffffffcc;
    --color-base: #ffffff;
    --color-bg: #fbfdff;
    --color-bg-accent: #efefef;
    --color-text: #08090a;
    --color-text-light: #80959b;
    --color-blue: #314bce;
    --color-blue-light: #edf0fc;
    --color-blue-lighter: #ccd2ec;
    --color-lightblue: #1e86ff;
    --color-lightblue-light: #edf4fc;
    --color-red: #ff897e;
    --color-red-light: #fcf1f0;
    --color-green: #10ba77;
    --color-green-light: #ebfaf4;
    --color-yellow: #f1cc23;
    --color-yellow-light: #fcf9e9;
    --color-purple: #8b66e9;
    --color-purple-light: #f4f0fc;
    --color-gray: #dddddd;
    --color-shadow: #0000000a;
    --color-scrollbar-track: #dddddd;
    --color-scrollbar-thumb: #bbbbbb;
    --color-scrollbar-thumb-hover: #aaaaaa;

    --top-margin: 100px;

    --timing: 300ms ease;
}

[data-theme="dark"] {
    --color-navbar: #000000cc;
    --color-base: #000000;
    --color-bg: #191919;
    --color-bg-accent: #444444;
    --color-text: #f2f4f7;
    --color-text-light: #777b8f;
    --color-blue: #314bce;
    --color-blue-light: #b4c1f3;
    --color-blue-lighter: #a9b6f1;
    --color-lightblue: #1e86ff;
    --color-lightblue-light: #a2c7f3;
    --color-red: #ff897e;
    --color-red-light: #f1c3bf;
    --color-green: #10ba77;
    --color-green-light: #b2f1d8;
    --color-yellow: #f1cc23;
    --color-yellow-light: #f5edbe;
    --color-purple: #8b66e9;
    --color-purple-light: #c0a9ee;
    --color-gray: #646668;
    --color-shadow: #00000067;

    --color-scrollbar-track: #333333;

    --color-scrollbar-thumb: #555555;

    --color-scrollbar-thumb-hover: #777777;
}

@font-face {
    font-family: "Glacial Indifference";
    src: url("/fonts/GlacialIndifference-Regular.otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Glacial Indifference";
    src: url("/fonts/GlacialIndifference-Bold.otf");
    font-style: bold;
    font-weight: 600;
    font-display: swap;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Glacial Indifference, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.loader {
    border: 2px solid var(--color-bg-accent);
    border-top: 2px solid var(--color-blue);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin 2s linear infinite;

    @keyframes spin {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(359deg);
        }
    }
}

main {
    display: flex;
    justify-content: center;
}

// Navbar

.navbar {
    height: 70px;
    width: 100%;
    background-color: var(--color-navbar);
    color: var(--color-text);
    position: fixed;
    top: 0;
    padding: 0 10vw;
    font-weight: bold;
    z-index: 99;
    box-shadow: 0px 5px 20px var(--color-shadow);
    backdrop-filter: blur(4px);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        li {
            border-radius: 50%;

            .profileButton {
                cursor: pointer;
                position: relative;

                &:focus {
                    outline: none;
                }

                img {
                    border-radius: 50%;
                    width: 48px;
                    height: 48px;
                }

                .dropdown {
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity var(--timing);
                    position: absolute;
                    top: 125%;
                    right: 0;
                    background-color: var(--color-base);
                    box-shadow: 0px 5px 10px var(--color-shadow);
                    border-radius: 5px;
                    padding: 20px;
                    cursor: default;
                }

                &:focus-within {
                    .dropdown {
                        visibility: visible;
                        opacity: 1;

                        .dropdownItem {
                            display: inline-block;
                            border-radius: 0;
                            margin: 0;
                            padding: 20px;
                            background-color: transparent;
                            display: flex;
                            align-items: center;
                            font-size: 1rem;
                            font-weight: normal;
                            white-space: nowrap;
                            color: var(--color-text);

                            svg {
                                margin-right: 20px;
                                width: 18px;
                                height: 18px;
                            }

                            .switch {
                                position: relative;
                                display: inline-block;
                                width: 30px;
                                height: 17px;
                                margin-left: 20px;

                                input {
                                    opacity: 0;
                                    width: 0;
                                    height: 0;

                                    &:checked + .slider {
                                        background-color: var(--color-blue);
                                        &:before {
                                            transform: translateX(13px);
                                        }
                                    }
                                }

                                .slider {
                                    position: absolute;
                                    cursor: pointer;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    background-color: #cccccc;
                                    transition: background-color 400ms;
                                    border-radius: 17px;

                                    &::before {
                                        position: absolute;
                                        content: "";
                                        height: 13px;
                                        width: 13px;
                                        left: 2px;
                                        bottom: 2px;
                                        background-color: white;
                                        transition: transform 400ms;
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

button,
.btn {
    background-color: var(--color-blue-light);
    border: none;
    color: var(--color-blue);
    padding: 0.7rem 2.2rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: inherit;
    font-size: 0.9rem;
    border-radius: 9999px;
    cursor: pointer;
    margin: 0.5rem 1rem 0.5rem 0;
    transition: filter var(--timing);

    @media only screen and (max-width: v.$bp-tablet) {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    &:hover {
        filter: brightness(95%);
    }

    &:disabled,
    &[disabled] {
        filter: opacity(70%);
        cursor: not-allowed;
    }

    &.btn-circle {
        border-radius: 9999px;
    }

    &.btn-blue {
        background-color: var(--color-blue);
        color: var(--color-base);
    }

    &.btn-red {
        background-color: var(--color-red);
        color: var(--color-base);
    }

    &.btn-green {
        background-color: var(--color-green);
        color: var(--color-base);
    }

    &.btn-blue-light {
        background-color: var(--color-blue-light);
        color: var(--color-blue);
    }

    &.btn-red-light {
        background-color: var(--color-red-light);
        color: var(--color-red);
    }

    &.btn-green-light {
        background-color: var(--color-green-light);
        color: var(--color-green);
    }
}

label {
    color: var(--color-text-light);
}

input,
textarea {
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 20px;
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--color-blue-light);
    color: #08090a;
    resize: none;
    transition: box-shadow 100ms;

    &[type="file"] {
        display: none;
    }

    &:focus {
        box-shadow: inset 0px 0px 0px 1px var(--color-blue);
    }
}

.logo {
    display: block;
    font-size: 0;
}

.text-success {
    color: var(--color-green) !important;
}

.text-danger {
    color: var(--color-red) !important;
}

.marginSpacing {
    margin: 0.8rem 1rem 0.8rem 0;
}

blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
}

[data-slate-editor] > * + * {
    margin-top: 1em;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
    display: block !important;
    width: 100% !important;
}

.react-datepicker {
    border: none !important;
    border-radius: 10px !important;
    // overflow: hidden !important;
    font-family: unset !important;
    box-shadow: 0px 5px 10px 5px var(--color-shadow) !important;
    background-color: var(--color-base) !important;
}

.react-datepicker__navigation {
    top: 4px !important;
}

.react-datepicker__triangle::before {
    content: none !important;
}

.react-datepicker__triangle::after {
    .react-datepicker-popper[data-placement^="top"] & {
        border-top-color: var(--color-base) !important;
    }

    .react-datepicker-popper[data-placement^="bottom"] & {
        border-bottom-color: var(--color-blue-light) !important;
    }
}

.react-datepicker__navigation-icon::before {
    border-color: var(--color-blue) !important;
}

.react-datepicker__header {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: var(--color-blue-light) !important;
    border-bottom: none !important;
    padding-top: 15px !important;
}

.react-datepicker__current-month {
    font-weight: normal !important;
    color: #08090a !important;
    font-size: 1.2rem !important;
}

.react-datepicker__day-names {
    padding: 10px 0px;
}

.react-datepicker__day-name {
    margin: 3px !important;
    color: var(--color-blue) !important;
}

.react-datepicker__day {
    border-radius: 9999px !important;
    margin: 3px !important;
    color: var(--color-text) !important;

    &:hover {
        background-color: var(--color-bg-accent) !important;
    }
}

.react-datepicker__day--selected {
    background-color: var(--color-blue) !important;
    color: var(--color-base) !important;
}

.react-datepicker__day--keyboard-selected {
    background-color: var(--color-blue-light) !important;
    color: var(--color-blue) !important;
}
