@use "./variables" as v;

.googleBtn {
    background-color: white;
    color: v.$color-text;
    box-shadow: 0px 3px 8px v.$color-shadow;

    .googleIcon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}
