.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    margin: 1rem 0;
}

.headingLg {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.5;
}

.subHeading {
    color: var(--color-text-light);
}

.borderCircle {
    border-radius: 9999px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pointer {
    cursor: pointer;
}

.pushLeft {
    margin-left: auto;
}

.boxCenter {
    display: grid;
    place-items: center;
}

.iconLeft {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.iconRight {
    width: 18px;
    height: 18px;
    margin-left: 10px;
}
